<%- include header %>
   <div class="ace-wrapper">
		<!--导航1-->
        <header id="ace-header" class="ace-container-shift ace-logo-in ace-head-boxed ace-nav-right">
        <%-include nav%>
        </header>
        <!--导航1-->
        <!--名片-->
        <article id="ace-card" class="ace-card bg-primary">
		<%- include card %>
		</article>
        <!--名片-->
        <!--主体内容-->
        <div id="ace-content" class="ace-container-shift">
            <div class="ace-container">
            	<!--内容侧栏导航-->
                <div id="ace-nav-wrap" class="hidden-sm hidden-xs">
                        <div class="ace-nav-cont">
                            <div id="ace-nav-scroll">
                                <nav id="ace-nav" class="ace-nav">
                                    <%- include nav-center %>
                                </nav>
                            </div>
                            <div id="ace-nav-tools" class="hidden">
                                <span class="ace-icon ace-icon-dots-three-horizontal"></span>
                                <button id="ace-nav-arrow" class="clear-btn">
                                    <span class="ace-icon ace-icon-chevron-thin-down"></span>
                                </button>
                            </div>
                        </div>
                        <div class="ace-nav-btm"></div>
                    </div>
				<!--内容侧栏导航-->
				<!--内容正文-->
                <div class="ace-paper-stock">
                    <main class="ace-paper clearfix">
                        <div class="ace-paper-cont clear-mrg">
						    <div class="padd-box clear-mrg">
						        <section class="section brd-btm">
						            <div class="row">
						                <div class="col-sm-12 clear-mrg text-box">
						                    <h2 class="title-lg text-upper">About Me</h2>
						                    <p><b>Helo，我是Ola Lowe！</b><br>徽标或您的公司名称，除非您当然是Microsoft或黄页在线目录营销的核心，围绕您的产品和服务的中心主题。您的品牌不是您的徽标或公司名称，除非您当然是Microsoft或黄页在线目录。</p>
						                    <p class="text-right">
						                        <img src="img/uploads/signature.png" alt="">
						                    </p>
						                </div>
						            </div>
						        </section>
						        <section class="section brd-btm">
						            <div class="row">
						                <div class="col-sm-6 clear-mrg">
						                    <h2 class="title-thin text-muted">个人信息</h2>
						                    <dl class="dl-horizontal clear-mrg">
						                        <dt class="text-upper">名称</dt>
						                        <dd>我是mt</dd>
						                        <dt class="text-upper">出生年月</dt>
						                        <dd>2019-02-22</dd>
						                        <dt class="text-upper">住宅地址</dt>
						                        <dd>河北省石家庄市</dd>
						                        <dt class="text-upper">邮箱</dt>
						                        <dd><a href="mailto:robertsmith@company.com">123456789@sina.com</a></dd>
						                        <dt class="text-upper">电话</dt>
						                        <dd>+16630110102</dd>
						                        <dt class="text-upper">职业</dt>
						                        <dd>web前端开发</dd>
						                    </dl>
						                </div>
						                <div class="col-sm-6 clear-mrg">
						                    <h2 class="title-thin text-muted">技能</h2>
						                   <dl class="dl-horizontal clear-mrg">
						                        <dt class="text-upper">名称</dt>
						                        <dd>我是mt</dd>
						                        <dt class="text-upper">出生年月</dt>
						                        <dd>2019-02-22</dd>
						                        <dt class="text-upper">住宅地址</dt>
						                        <dd>河北省石家庄市</dd>
						                        <dt class="text-upper">邮箱</dt>
						                        <dd><a href="mailto:robertsmith@company.com">123456789@sina.com</a></dd>
						                        <dt class="text-upper">电话</dt>
						                        <dd>+16630110102</dd>
						                        <dt class="text-upper">职业</dt>
						                        <dd>web前端开发</dd>
						                    </dl>
						                </div>
						            </div>
						        </section>
						        <section class="section brd-btm">
						            <div class="row">
						                <div class="col-sm-12 clear-mrg">
						                    <h2 class="title-thin text-muted">标签</h2>
						                    <ul class="icon-list icon-list-col3 clearfix">
						                        <li><span class="ace-icon ace-icon-music"></span> 活泼</li>
						                        <li><span class="ace-icon ace-icon-blog"></span> 好动</li>
						                    </ul>
						                </div>
						            </div>
						        </section><!-- .section -->
						        <section class="section">
						            <h2 class="title-thin text-muted">参与的项目</h2>
						            <div class="row">
						                <div class="col-sm-6 clear-mrg">
						                    <div class="award-box">
						                        <figure class="award-img">
						                            <img src="img/uploads/awards/award-01.png" alt="">
						                        </figure>
						                        <h3 class="award-title">项目一</h3>
						                        <div class="award-text text-muted clear-mrg">
						                            <p>项目一内容</p>
						                        </div>
						                    </div>
						                </div>
						                <div class="col-sm-6 clear-mrg">
						                    <div class="award-box">
						                        <figure class="award-img">
						                            <img src="img/uploads/awards/award-02.png" alt="">
						                        </figure>
						                        <h3 class="award-title">项目二</h3>
						                        <div class="award-text text-muted clear-mrg">
						                            <p>项目二内容</p>
						                        </div>
						                    </div>
						                </div>
						            </div>
						        </section>
						    </div>
		                </div>
		            </main>
    			</div>
				<!--内容正文-->
	        </div>
	    </div>
        <!--主体内容-->
        <!--侧栏内容-->
		<div id="ace-sidebar">
			<%- include nav-side %>
		</div>
		<!--侧栏内容-->
<%- include footer%>
        <script type="text/javascript">
        	 $.ajax({
        	 	type:"delete",
        	 	url:"http://127.0.0.1:3000/cart/id/201701",
        	 	async:true,
        	 	success:function(res){
        	 		console.log(res)
        	 	},error:function(err){
        	 		console.log(err)
        	 	}
        	 });
        </script>