<%- include header %>
   <div class="ace-wrapper">
				<!--导航1-->
        <header id="ace-header" class="ace-container-shift ace-logo-in ace-head-boxed ace-nav-right">
        <%-include nav%>
        </header>
        <!--导航1-->
        <!--名片-->
        <article id="ace-card" class="ace-card bg-primary">
				<%- include card %>
				</article>
        <!--名片-->
        <!--主体内容-->
        <div id="ace-content" class="ace-container-shift">
        <div class="ace-container">
    		<!--内容侧栏导航-->
				<div id="ace-nav-wrap" class="hidden-sm hidden-xs">
            <div class="ace-nav-cont">
                <div id="ace-nav-scroll">
                    <nav id="ace-nav" class="ace-nav">
                        <%- include nav-center %>
                    </nav>
                </div>
                <div id="ace-nav-tools" class="hidden">
                    <span class="ace-icon ace-icon-dots-three-horizontal"></span>
                    <button id="ace-nav-arrow" class="clear-btn">
                        <span class="ace-icon ace-icon-chevron-thin-down"></span>
                    </button>
                </div>
            </div>
            <div class="ace-nav-btm"></div>
        </div>
				<!--内容侧栏导航-->
				<!--内容正文-->
        <div class="ace-paper-stock">
            <main class="ace-paper clearfix">
                <div class="ace-paper-cont clear-mrg">
											<div class="padd-box">
											    <h1 class="title-lg text-upper">portfolio</h1>
											</div>
											<div class="pf-wrap">
											    <div class="pf-filter padd-box">
											        <button data-filter="*">所有</button>
											        <button data-filter=".photography">摄影</button>
											        <button data-filter=".design">设计</button>
											    </div>
											    <div class="pf-grid">
											        <div class="pf-grid-sizer"></div>
											        <div class="pf-grid-item photography">
											            <div class="project">
											                <figure class="portfolio-figure">
											                    <img src="img/uploads/portfolio/prj-01.jpg" alt="">
											                </figure>
											                <div class="portfolio-caption text-center">
											                    <div class="valign-table">
											                        <div class="valign-cell">
											                            <h2 class="text-upper">我是摄影1</h2>
											                            <p>我是摄影内容</p>
											                            <a href="#pf-popup-1" class="pf-btn-view btn btn-primary">查看更多</a>
											                        </div>
											                    </div>
											                </div>
											            </div>
											            <div id="pf-popup-1" class="pf-popup clearfix">
											                <div class="pf-popup-col1">
											                    <div class="pf-popup-media">
											                    </div>
											                </div>
											                <div class="pf-popup-col2">
											                    <div class="pf-popup-info clear-mrg">
											                        <h2 class="text-upper">Project Title</h2>
											                        <p class="text-muted"><strong>design / development</strong></p>
											                        <dl class="dl-horizontal">
											                            <dt>Date:</dt>
											                            <dd>11 Jan 2012</dd>
											                            <dt>Site link:</dt>
											                            <dd><a href="www.sitedomen.com">www.sitedomen.com</a></dd>
											                            <dt>Client:</dt>
											                            <dd>11 Jan 2012</dd>
											                        </dl>
											                        <p>About 64% of all on-line teens say that do things online that they wouldn’t want their
											                            parents to know about. 11% of all adult internet users visit dating websites and spend their
											                            time in chatrooms. Some of the classify their behavior as “cyber affair” More then 60% of
											                            employees use company PC for the personal needs during their work hours as long as 80
											                            minutes per day. </p>
											                    </div>
											                </div>
											            </div>
											        </div>
											        <div class="pf-grid-item design">
											            <div class="project">
											                <figure class="portfolio-figure">
											                    <img src="img/uploads/portfolio/prj-02.jpg" alt="">
											                </figure>
											                <div class="portfolio-caption text-center">
											                    <div class="valign-table">
											                        <div class="valign-cell">
											                            <h2 class="text-upper">我是摄影1</h2>
											                            <p>我是摄影内容</p>
											                            <a href="#pf-popup-2" class="pf-btn-view btn btn-primary">查看更多</a>
											                        </div>
											                    </div>
											                </div>
											            </div>
											            <div id="pf-popup-2" class="pf-popup clearfix">
											                <div class="pf-popup-col1">
											                    <div class="pf-popup-media">
											                    </div>
											                </div>
											                <div class="pf-popup-col2">
											                    <div class="pf-popup-info clear-mrg">
											                        <h2 class="text-upper">Project Title</h2>
											                        <p class="text-muted"><strong>design / development</strong></p>
											                        <dl class="dl-horizontal">
											                            <dt>Date:</dt>
											                            <dd>11 Jan 2012</dd>
											                            <dt>Site link:</dt>
											                            <dd><a href="www.sitedomen.com">www.sitedomen.com</a></dd>
											                            <dt>Client:</dt>
											                            <dd>11 Jan 2012</dd>
											                        </dl>
											                        <p>About 64% of all on-line teens say that do things online that they wouldn’t want their
											                            parents to know about. 11% of all adult internet users visit dating websites and spend their
											                            time in chatrooms. Some of the classify their behavior as “cyber affair” More then 60% of
											                            employees use company PC for the personal needs during their work hours as long as 80
											                            minutes per day. </p>
											                    </div>
											                </div>
											            </div>
											        </div>
											        <div class="pf-grid-item photography">
											            <div class="project">
											                <figure class="portfolio-figure">
											                    <img src="img/uploads/portfolio/prj-03.jpg" alt="">
											                </figure>
											                <div class="portfolio-caption text-center">
											                    <div class="valign-table">
											                        <div class="valign-cell">
											                            <h2 class="text-upper">我是摄影1</h2>
											                            <p>我是摄影内容</p>
											                            <a href="#pf-popup-1" class="pf-btn-view btn btn-primary">查看更多</a>
											                        </div>
											                    </div>
											                </div>
											            </div>
											            <div id="pf-popup-3" class="pf-popup clearfix">
											                <div class="pf-popup-col1">
											                    <div class="pf-popup-media">
											
											                    </div>
											                </div>
											                <div class="pf-popup-col2">
											                    <div class="pf-popup-info clear-mrg">
											                        <h2 class="text-upper">Project Title</h2>
											                        <p class="text-muted"><strong>design / development</strong></p>
											                        <dl class="dl-horizontal">
											                            <dt>Date:</dt>
											                            <dd>11 Jan 2012</dd>
											                            <dt>Site link:</dt>
											                            <dd><a href="www.sitedomen.com">www.sitedomen.com</a></dd>
											                            <dt>Client:</dt>
											                            <dd>11 Jan 2012</dd>
											                        </dl>
											                        <p>About 64% of all on-line teens say that do things online that they wouldn’t want their
											                            parents to know about. 11% of all adult internet users visit dating websites and spend their
											                            time in chatrooms. Some of the classify their behavior as “cyber affair” More then 60% of
											                            employees use company PC for the personal needs during their work hours as long as 80
											                            minutes per day. </p>
											                    </div>
											                </div>
											            </div>
											        </div>
											        <div class="pf-grid-item design">
											            <div class="project">
											                <figure class="portfolio-figure">
											                    <img src="img/uploads/portfolio/prj-04.jpg" alt="">
											                </figure>
											                <div class="portfolio-caption text-center">
											                    <div class="valign-table">
											                        <div class="valign-cell">
											                            <h2 class="text-upper">我是摄影1</h2>
											                            <p>我是摄影内容</p>
											                            <a href="#pf-popup-4" class="pf-btn-view btn btn-primary">查看更多</a>
											                        </div>
											                    </div>
											                </div>
											            </div>
											            <div id="pf-popup-4" class="pf-popup clearfix">
											                <div class="pf-popup-col1">
											                    <div class="pf-popup-media">
											
											                    </div>
											                </div>
											                <div class="pf-popup-col2">
											                    <div class="pf-popup-info clear-mrg">
											                        <h2 class="text-upper">Project Title</h2>
											                        <p class="text-muted"><strong>design / development</strong></p>
											                        <dl class="dl-horizontal">
											                            <dt>Date:</dt>
											                            <dd>11 Jan 2012</dd>
											                            <dt>Site link:</dt>
											                            <dd><a href="www.sitedomen.com">www.sitedomen.com</a></dd>
											                            <dt>Client:</dt>
											                            <dd>11 Jan 2012</dd>
											                        </dl>
											                        <p>About 64% of all on-line teens say that do things online that they wouldn’t want their
											                            parents to know about. 11% of all adult internet users visit dating websites and spend their
											                            time in chatrooms. Some of the classify their behavior as “cyber affair” More then 60% of
											                            employees use company PC for the personal needs during their work hours as long as 80
											                            minutes per day. </p>
											                    </div>
											                </div>
											            </div>
											        </div>
											        <div class="pf-grid-item photography">
											            <div class="project">
											                <figure class="portfolio-figure">
											                    <img src="img/uploads/portfolio/prj-05.jpg" alt="">
											                </figure>
											                <div class="portfolio-caption text-center">
											                    <div class="valign-table">
											                        <div class="valign-cell">
											                            <h2 class="text-upper">我是摄影1</h2>
											                            <p>我是摄影内容</p>
											                            <a href="#pf-popup-5" class="pf-btn-view btn btn-primary">查看更多</a>
											                        </div>
											                    </div>
											                </div>
											            </div>
											            <div id="pf-popup-5" class="pf-popup clearfix">
											                <div class="pf-popup-col1">
											                    <div class="pf-popup-media">
											
											                    </div>
											                </div>
											                <div class="pf-popup-col2">
											                    <div class="pf-popup-info clear-mrg">
											                        <h2 class="text-upper">Project Title</h2>
											                        <p class="text-muted"><strong>design / development</strong></p>
											                        <dl class="dl-horizontal">
											                            <dt>Date:</dt>
											                            <dd>11 Jan 2012</dd>
											                            <dt>Site link:</dt>
											                            <dd><a href="www.sitedomen.com">www.sitedomen.com</a></dd>
											                            <dt>Client:</dt>
											                            <dd>11 Jan 2012</dd>
											                        </dl>
											                        <p>About 64% of all on-line teens say that do things online that they wouldn’t want their
											                            parents to know about. 11% of all adult internet users visit dating websites and spend their
											                            time in chatrooms. Some of the classify their behavior as “cyber affair” More then 60% of
											                            employees use company PC for the personal needs during their work hours as long as 80
											                            minutes per day. </p>
											                    </div>
											                </div>
											            </div>
											        </div>
											        <div class="pf-grid-item design">
											            <div class="project">
											                <figure class="portfolio-figure">
											                    <img src="img/uploads/portfolio/prj-06.jpg" alt="">
											                </figure>
											                <div class="portfolio-caption text-center">
											                    <div class="valign-table">
											                        <div class="valign-cell">
											                            <h2 class="text-upper">我是摄影1</h2>
											                            <p>我是摄影内容</p>
											                            <a href="#pf-popup-6" class="pf-btn-view btn btn-primary">查看更多</a>
											                        </div>
											                    </div>
											                </div>
											            </div>
											            <div id="pf-popup-6" class="pf-popup clearfix">
											                <div class="pf-popup-col1">
											                    <div class="pf-popup-media">
											
											                    </div>
											                </div>
											                <div class="pf-popup-col2">
											                    <div class="pf-popup-info clear-mrg">
											                        <h2 class="text-upper">Project Title</h2>
											                        <p class="text-muted"><strong>design / development</strong></p>
											                        <dl class="dl-horizontal">
											                            <dt>Date:</dt>
											                            <dd>11 Jan 2012</dd>
											
											                            <dt>Site link:</dt>
											                            <dd><a href="www.sitedomen.com">www.sitedomen.com</a></dd>
											
											                            <dt>Client:</dt>
											                            <dd>11 Jan 2012</dd>
											                        </dl>
											                        <p>About 64% of all on-line teens say that do things online that they wouldn’t want their
											                            parents to know about. 11% of all adult internet users visit dating websites and spend their
											                            time in chatrooms. Some of the classify their behavior as “cyber affair” More then 60% of
											                            employees use company PC for the personal needs during their work hours as long as 80
											                            minutes per day. </p>
											                    </div>
											
											                </div>
											            </div>
											        </div>
													<div class="pf-grid-item photography">
											            <div class="project">
											                <figure class="portfolio-figure">
											                    <img src="img/uploads/portfolio/prj-01.jpg" alt="">
											                </figure>
											                <div class="portfolio-caption text-center">
											                    <div class="valign-table">
											                        <div class="valign-cell">
											                            <h2 class="text-upper">我是摄影1</h2>
											                            <p>我是摄影内容</p>
											                            <a href="#pf-popup-7" class="pf-btn-view btn btn-primary">查看更多</a>
											                        </div>
											                    </div>
											                </div>
											            </div>
											            <div id="pf-popup-7" class="pf-popup clearfix">
											                <div class="pf-popup-col1">
											                    <div class="pf-popup-media">
											
											                    </div>
											                </div>
											                <div class="pf-popup-col2">
											                    <div class="pf-popup-info clear-mrg">
											                        <h2 class="text-upper">Project Title</h2>
											                        <p class="text-muted"><strong>design / development</strong></p>
											                        <dl class="dl-horizontal">
											                            <dt>Date:</dt>
											                            <dd>11 Jan 2012</dd>
											                            <dt>Site link:</dt>
											                            <dd><a href="www.sitedomen.com">www.sitedomen.com</a></dd>
											                            <dt>Client:</dt>
											                            <dd>11 Jan 2012</dd>
											                        </dl>
											                        <p>About 64% of all on-line teens say that do things online that they wouldn’t want their
											                            parents to know about. 11% of all adult internet users visit dating websites and spend their
											                            time in chatrooms. Some of the classify their behavior as “cyber affair” More then 60% of
											                            employees use company PC for the personal needs during their work hours as long as 80
											                            minutes per day. </p>
											                    </div>
											                </div>
											            </div>
											        </div>
												</div>
											</div>
		                </div>
		            </main>>
		        </div>
				<!--内容正文-->
	      </div>
	    	</div>
        <!--主体内容-->
        <!--侧栏内容-->
				<div id="ace-sidebar">
				<%- include nav-side %>
				</div>
				<!--侧栏内容-->
<%- include footer%>